* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-clip: border-box;
}

body {
  width: calc(100vw - (100vw - 100%));

}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    padding: .2em .5em;
}
