* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-clip: border-box;
}

body {
  width: calc(100vw - (100vw - 100%));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  width: 25em;
  padding: 2em 3em;
  border-radius: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
  margin-top: 0.5em;
}

input,
select,
button[type="submit"] {
  padding: 0.5em 0.8em;
  margin-bottom: 0.8em;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

input:focus,
select:focus {
  box-shadow: 0 2px 5px rgb(64, 51, 110);
}

label {
  margin-bottom: 0.2em;
  font-weight: 600;
}

button[type="submit"] {
  cursor: pointer;
  margin-top: 3em;
  background-color: #fff;
  transition: all 0.2s;
}

button[type="submit"]:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}

button[type="submit"]:active {
  background-color: rgb(179, 167, 226);
}

a {
  text-decoration: none;
  color: rgb(90, 73, 154);
}

a:hover {
  text-decoration: none;
  color: rgb(126, 110, 181);
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

/* Radio tipo ocurrencias del profe */
input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 0.1em 0.3em;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  transition: right 0.3s;
  background-color: rgb(126, 110, 181);
  z-index: -10;
}

input[type="radio"]:checked + label::before {
  right: 0;
}


/* Checkbox tipo switch */
input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  width: 3em;
  height: 1.5em;
  background-color: rgb(188, 188, 188);
  display: block;
  border-radius: 1.5em;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.9);
}
input[type="checkbox"]:checked + label {
  background-color: rgb(126, 110, 181);
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  top: 0.1em;
  bottom: 0.1em;
  left: 0.1em;
  right: 1.6em;

  border-radius: 100%;

  transition: all 0.3s;
  background-color: #fff;
}

input[type="checkbox"]:checked + label::before {
  left: 1.6em;
  right: 0.1em;
}
